NEXT_PUBLIC_WAREHOUSE_API_URL=http://127.0.0.1:3000
NEXT_PUBLIC_VAULT_ADDRESS=
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
NEXT_PUBLIC_DEFAULT_MODE=public
NEXT_PUBLIC_TOKEN_SUPPLY_UNITS=47000
NEXT_PUBLIC_TOKENS_PER_CASK=1000
NEXT_PUBLIC_VAULT_DEPLOYMENT_BLOCK=
NEXT_PUBLIC_LOG_LOOKBACK_BLOCKS=200000